
@font-face {
  font-family: 'Digital Clock';
  src: url('https://iqmskopbhrzqqqjewdzv.supabase.co/storage/v1/object/public/fonts/DS-DIGI-Bold.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
